.danceScreen {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  justify-content: center;
  background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.005) 0,
      rgba(255, 255, 255, 0.005) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 100px 100px;
  background-attachment: fixed;
  background-color: #1f1f1f;
}

.videoContainer {
  display: flex;
  gap: 2rem;
  height: fit-content;
  justify-content: space-around;
  align-items: end;
}

.liveVideo video,
.refVideo video {
  object-fit: cover;
  aspect-ratio: 9/16;
  max-height: 70vh;
}

.liveVideo,
.refVideo {
  height: 100%;
  aspect-ratio: 9/16;
}

.refVideo video {
  max-height: 90vh;
}

.leftPanel {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
.rightPanel {
  width: 20vw;
  height: 100%;
}

.timeline {
  width: 100%;
}
