.container {
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    padding: 50px;
    /* margin: 50px */
}

.graph_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.graph_left {
    width: 40vw;
    padding: 0px;
    padding-right: 20px;
}

.graph_right {
    width: 40vw;
    padding: 0px;
}

.videoContainer {
    width: 40vw;

}