@keyframes zoomDown {
  0% {
    transform: scale(3);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.countdown {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  background: var(--purple-gradient);
}

.countdown h1 {
  animation: zoomDown 1s ease-in-out infinite;
  font-size: 4.5rem;
}
